<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= Rho::RhoConfig.vnh_name %> Nearby...</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>

  <div data-role="content">
      <ul data-role="listview">
      <%$result.each do |x|%>
          <li>            
            <span class="storename"><%= x[1]['name']%></span><br/>
            <span class="phone"><a href="tel:<%= x[1]['phone']%>"><%= x[1]['phone']%></a></span><br/>
            <span class="address"><%= x[1]['address']%><br/>
            <%= x[1]['city']%>, <%= x[1]['state']%> <%= x[1]['zip']%></span><br/>
            <span class="distance"><%= "%8.3f" % x[1]['distance']%> miles</span><br/>
            <%= link_to x[1]['url'], x[1]['url'] %>              
          </li>
      <%end%>
      </ul>   
  </div>
</div>
  