<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
  <div data-role="content">
    <ul data-role="listview">
      <li><a href="/app/Location">Locations</a></li>
    </ul>
  </div>

</div>
