<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= Rho::RhoConfig.vnh_name %> Very Near Here</h1>
  <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
    Home
  </a>    
  </div>

  <div data-role="content" style="text-align:center;">
        <p>Cool Graphics by<br/>
        <a href="http://www.massivecreativeinc.com/">Massive Creative Inc</a><br/>
        Vero Beach FL USA<br/>
        </p>
        
        <p>Code &amp; Uncool Graphics by<br/>
        <a href="http://www.cybersprocket.com/">Cyber Sprocket Labs</a><br/>              
        Charleston SC USA<br/>
        <a href="tel:(843) 225-3830">(843) 225-3830</a><br/>
        <br/>
        Built with<br/>
        <a href="http://www.storelocatorplus.com">Store Locator Plus</a><br/> technology.<br/>        
        <br/>
        Want <a href="<%= $app_store_url %>">more apps</a>?<br/>
        Go back and touch <a href="<%= $app_store_url %>">that link</a>.    
        </p>   
                
        <p>Your spot on earth is <br/>
        <%= $lats%>, <%= $longs%><a href="/app/Location/wait">.</a></p>               
  </div>
</div>